<div class="col-md-6 offset-md-3">
    <h3 class="text-center">Buy products</h3>
    <form (ngSubmit)="onSubmit()" #compraForm="ngForm">
        <div class="form-group">
            <label>Client name </label>
            <input type="text" class="" id="clientName" [(ngModel)]="compra.clientName"
                name="clientName" required minlength="3" maxlength="30" placeholder="Your clientName"
                #clientName="ngModel">

            <div class="alert alert-danger" *ngIf="clientName.invalid && (clientName.dirty || clientName.touched)">
                <div *ngIf="clientName.errors.required">You must add a name</div>
                <div *ngIf="clientName.errors.minlength">The name must have a minimum of 3 characters</div>
                <div *ngIf="clientName.errors.maxlength">The name must have a maximum of 30 characters</div>
            </div>
        </div>

        <div class="form-group">
            <label>Document </label>
            <input type="text" class="" id="document" [(ngModel)]="compra.document" name="document" required
                minlength="3" maxlength="30" placeholder="Your number document" #document="ngModel">

            <div class="alert alert-danger" *ngIf="document.invalid && (document.dirty || document.touched)">
                <div *ngIf="document.errors.required">You must add a document</div>
                <div *ngIf="document.errors.minlength">The document must have a minimum of 3 characters</div>
                <div *ngIf="document.errors.maxlength">The document must have a maximum of 30 characters</div>
            </div>
        </div>

        <div class="form-group">
            <label>Document type</label>
            <select class="" [(ngModel)]="compra.idType" name="idType" required>
                <!-- <option selected>Your document type</option> -->
                <option value="cc">cc</option>
                <option value="ti">ti</option>
                <option value="pas">pas</option>
            </select>
        </div>

        <button class="btn btn-success" [disabled]="!compraForm.form.valid" name="enviarCompra">Send buy</button>
    </form>
</div>

<div class="row">
    <div class="col-8">
        <h2>Shopping cart</h2>
        <table class="table table-striped table-sm">
            <thead class="table-secondary">
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                </tr>
            </thead>
            <tbody class="table-light">
                <tr *ngFor="let producto of obtenerProds()">
                    <td>{{producto.id}}</td>
                    <td>{{producto.name}}</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>